header{
    text-align: center;
    padding: 2%;
}

nav{
    display: flex;
    justify-content: space-evenly;
    font-size: 21px;
    background-color:black;
    padding: 1%;
}

h1{
    text-align: center;
    font-size: 42px;
}

h2{
    text-align: center;
}

.sip{
    display: block;
    margin: auto;
}

nav a{
    color: white;
}

.home{
    max-width: 15rem;
    margin: auto;
    background-color: lightsalmon;
}

body{
    background-color: lightgrey;
}

h6{
    text-align: center;
    font-size: 25px;
    background-color: lightsalmon;
    width: 30%;
    margin: auto;
}

.phone{
    text-align: center;
    font-size:15px;
}

.email{
    text-align: center;
    font-size: 15px;
}

.group{
    max-width: 100%;
    margin: 1rem auto;
    justify-content: center;
    display: block;
}

.social{
    text-align: center;
    font-size: 25px;
}

.insta{
    text-align: center;
    font-size: 15px;
}

.calendar{
    text-align: center;
    font-size: 20px;
    background-color: lightsalmon;
}

.december{
    max-width: 50rem;
    margin: auto;
    justify-content: center;
    display: block;
}

.brush{
    max-width: 100%;
    margin: 1rem auto;
    justify-content: center;
    display: block;
}

h5{
    font-size: 25px;
    text-align:center;
}

.about{
    text-align: center;
    font-size: 25px;
    background-color: lightsalmon;
    width: 30%;
    margin: auto;
}

.describe{
    text-align: center;
    font-size: 15px;
}

.meet{
    text-align: center;
    font-size:25px;
    background-color: lightsalmon;
    width: 30%;
    margin: auto;
}

.staff{
    max-width: 50rem;
    margin: auto;
    justify-content: center;
    display: block;
}

figcaption{
    text-align: center;
    font-size: 15px;
}